<div class="top-row ps-3 pt-1 navbar navbar-dark">
    <a href=""><img src="images/logo.png" height="60" width="200" style="object-fit: contain;" /></a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-container">
    <nav class="flex-column">
        <div class="nav-item px-3"><h5 class="fw-normal text-white">Welcome, <strong style="color: var(--secondary)">@Username</strong></h5></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill" aria-hidden="true"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <i class="bi bi-receipt-cutoff" aria-hidden="true"></i> Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <i class="bi bi-bar-chart-line-fill" aria-hidden="true"></i> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="membership">
                <i class="bi bi-person-fill" aria-hidden="true"></i> Membership
            </NavLink>
        </div>
        @if(UserRole == Roles.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="menu">
                    <i class="bi bi-card-list" aria-hidden="true"></i> Menu
                </NavLink>
            </div>
        }
        
        @if(UserRole == Roles.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-staff">
                    <i class="bi bi-person-fill" aria-hidden="true"></i> Staff
                </NavLink>
            </div>
        }
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <i class="bi bi-lock-fill" aria-hidden="true"></i> Change Password
            </NavLink>
        </div>
    </nav>
    <div class="nav-item px-3">
        <button class="btn btn-primary w-100" @onclick="LogoutHandler"><i class="bi bi-box-arrow-left"></i> Logout</button>
    </div>
</div>

@code {
    [Parameter]
    public string? Username { get; set; }
    [Parameter]
    public Roles UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}