@page "/"

<div class="container p-4">
    <h1>Welcome to Bislerium Café</h1>

    <p class="body-text">
        Where every sip is a moment of pure bliss. Get ready to indulge in the finest
        coffee experience – brewed with passion and served with a smile. We're here
        to elevate your coffee moments to a whole new level. Order with ease and
        savor the extraordinary. Cheers to great coffee and warm moments!"
    </p>

</div>