
.order-container {
    border-radius: 6px;
    box-shadow: var(--boxShadow);
    width: 320px;
    height: 100vh;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    right: 0;
}

@media (max-width: 1200px) {
    .order-container{
        width: 260px;
    }
}
